@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background-image: url("../imagens/radio-tv.png");
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 495px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 85px;
    top: 75px;
    width: 440px;
}